<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color">
        <meta name="apple-mobile-web-app-status-bar-style">
        <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
        <style>
            body {
                background-color: white;
                padding: 32px;
        }
        </style>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    </head>
    <body>
        <header class="page-header" role="banner">
            <ul>
                <li><a href="/index" class="btn"><p>Index</p></a></li>
                <li><a href="/real-analysis" class="btn"><p>Real Analysis</p></a></li>
                <li><a href="/big-o" class="btn"><p>Big-O</p></a></li>
                <li><a href="/root-finding" class="btn"><p>Root Finding</p></a></li>
                <li><a href="/interpolation" class="btn"><p>Interpolation</p></a></li>
                <li><a href="/integration-differentiation" class="btn"><p>Integration & Differentiation</p></a></li>
                <li><a href="/prng-secrets" class="btn"><p>PRNG Secrets</p></a></li>
                <li><a href="/intro-ivps-rk4" class="btn"><p>Intro to IVPs & RK4</p></a></li>
                <li><a href="/ivp-systems-final" class="btn"><p>IVP Systems Final</p></a></li>
            <ul>
        </header>

        <main id="content" class="main-content" role="main">
            {{ content }}
        </main>
    </body>
</html>